* linguist-vendored

# Sources
*.c     text diff=c linguist-vendored=false
*.cc    text diff=cpp linguist-vendored=false
*.cxx   text diff=cpp linguist-vendored=false
*.cpp   text diff=cpp linguist-vendored=false
*.c++   text diff=cpp linguist-vendored=false
*.hpp   text diff=cpp linguist-vendored=false
*.h     text diff=c linguist-vendored=false
*.h++   text diff=cpp linguist-vendored=false
*.hh    text diff=cpp linguist-vendored=false

# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary
